services:
  app:
    image: IMAGE_PLACEHOLDER
    container_name: obidovtoys_app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: obidovtoys_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    # Expose on localhost for backups
    ports:
      - "5432:5432"
volumes:
  postgres_data:
