[Unit]
Description=🧸 ObidovToys Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/toys_catalog
ExecStart=/var/www/toys_catalog/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target