[Unit]
Description=🧸 Toys Catalog FastAPI Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/toys_catalog
EnvironmentFile=/var/www/toys_catalog/.env
ExecStart=/var/www/toys_catalog/.venv/bin/python -m uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=10
SyslogIdentifier=toys_catalog

[Install]
WantedBy=multi-user.target
