[Unit]
Description=🧸 Toys Catalog FastAPI Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/toys_catalog
ExecStart=/usr/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8000
EnvironmentFile=/var/www/toys_catalog/.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target